div {
  margin: 10px;
  border: 1px solid #ccc;
}

.icon0 {
  width: 128px;
  height: 128px;
  background: #ccc url(../images/sprite-tom.png) 0px 0px no-repeat;
  background-size: 261px 261px;
}

.icon1 {
  width: 128px;
  height: 128px;
  color: #ccc;
  background: url(../images/sprite-tom.png) -133px 0px no-repeat;
  background-size: 261px 261px;
}

.icon1 {
  width: 128px;
  height: 128px;
  color: #ccc;
  background: url(../images/sprite-tom.png) -133px 0px no-repeat;
  background-size: 261px 261px;
}

.icon2 {
  width: 50px;
  height: 50px;
  color: #ccc;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAAEH5aXCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxQTVFMjJDQTYwMzIxMUU1QkMyOEI5RDU3QzU2ODI5QiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxQTVFMjJDQjYwMzIxMUU1QkMyOEI5RDU3QzU2ODI5QiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFBNUUyMkM4NjAzMjExRTVCQzI4QjlENTdDNTY4MjlCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFBNUUyMkM5NjAzMjExRTVCQzI4QjlENTdDNTY4MjlCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+KdkuEAAACm1JREFUeNpi/LnfmgEI7gOxAgNxgJEFSDwAYnmYyAetdRiqBK4FIXP/s2DTgKYILI4sxkTAVDj4w22FXRMuDSDA8vUYbpvQATY/MhGjAd0FTLjcD9LA/PM5ViezEGs6Tpv+MwsS1ICh6aP6XIIa8DoPG4AZCNLECHIZiMPxZicwPi5jCRhdhh8i7nA+QAAxQhPsfyIT63IWdMUEEmskyIb/yIr5byYzMP59jzPomdAlkBVjC3IWYhIn0ekM2Zk44wMGvksUMvwUsmXgerYYxZkspKRgrE4ilCCZ0BXjSuoYGmB5m/duNv5yCRZx+BIfegIEA/Z3hxlYP5/EqviHaDCcDRBARCe+Lwq9DH+4FFHEQP4l5AUUbxBTCvE87IEXY385dBk+KzUSVV7itARmAShIOF/043UpqEgBlRBEpxF0HxCyAD0zIZfyeFMusRkLm6OQawWC+YlUw9k+nmHgetpGXCFKapVEVkmNDXzUWMbwn4mD7OBkIdZwfMFBtiXIwUKqy0lOwpRaAPPJGiAOIaXtQQigOwwggGBlVxgQr2SgLvgCxMJA/IuFmMIRWzkFAqA6ie3DelzaeID4JxCH4i0gfwkEMnyTiiXoZEKlMU5LPitPZfjLLonToG/SVQy/+E2Iypg4kzCyBdg0g/IM11MGhk+q8xj+sQqAxf6xKTAw/XpA/STMdzsJzv6k0kd6CwWUy4nKB9/uk98MIrcYoUl9gl73k9ygIyYPwePnThH1LQHV7ciZFFvKoqhmRG8i4e2oUVrtEhOHJFnyQywdpVsCSro8D4qpU/2SW7eTFPHIFhBqipPlE2rUkky0tgCvJTRvSIAqKxhA7r5R1RLk2hC9Z0r1OKFGcwhr6gJVq9RsDmH1CXq9TS2fdANxKXJRwfLtFtbRDpz1CbcutF5Rw9pYAQggWOOOGaSGYWiCLiAuB3kkGshYQolJX+WaGX7zaJOtn/HfD2CjJ5ui3IK3kYoPoLcvqQnIyZ0ke+SncAzDd3HsFhEzqoAMQG1aXE1OUCzx34iijUeQG9bIAH0skBoNE1I9Q3S7DlS9YPMEKBlQoybAlpyQhw2o5hFsHTpq1JfIADQAjVnsWlHXI7z36sEWgRpc1KyTUZqmSM1SfGNaFDVPmX9cBmOOV7SpDEC9A2x5hGqtU1oD5LFRjKRLQqk1YB75zefG8FUmA3tfG/9IzcB7BF/ow0YkqD7uSE1AqIlLjXqIZh5BHz7GVgqCCg9qNrGpBgg1HqnteKp7BF/SQZ4uoiVgoYUHiJ1AG3CPwCZZqVnq0N0juGKBWj18mgw/EOMJUCwMtCdI8gguTwxUUiLLI7ia0vTwBGzpCzE9xE+gIp6SmpnWgJikC4oREYahD57CxrVAALQMY80Q88AdIFYFMQACcHPuLA0EQQBeTxIfMViIIIqksbCxE/wVlhYi1mJhI2KnrfgLVLCwjqWdlX9CEGxUgoggBInxERBvLrl4JrO7t7uze3sObBUI+diZ2XkmCVIMz1kHqOg5wE149sNz3mvsh6zdjV3NAQTIfHiqrN2dHowfRGi475Lk3D3tIJGA6x55OqLI+6HUO6BdaUy65kZlx7h6Mvx8YvIV60YgspxDVQzC/Hutxis8UvC2UEKAQBM32TxRkIpW9CvKu2NVGXqpovoPFcuPyWW0ahl9Pr7IgtaGsqopq5bolVfNvUUZpep3KakWVkSLEymdGnDpYS+yC51bNwLBximgGmiSDYJx82DSBoxKIKAGqAooVANFMFh59H1qkx4E02Wseq4rY3cHqOFbUa0+ELNHrO9WrCdWEHr4LulAkPgp7eSYVyDgWku1Y1ZoXP+C1K9Ifwg0Rp2Ugwqvl9GxJc3pLaNbD3xRDeyNUilueAECUbQTG7EpMEGBRdG8OUkvQXhjIBC78WYxjY3dhjrx8hmd2M35jciSMt06stMb4bUjTCGcgci6uaqTQJmAyEpEVBV9qyCy4je4WFXv5BRENJwWu1fqHiM5iOv+OjmIzKBtd3pJQHhrTLZvgRREtC5F4VadgIggCArTbkBg3ooHQelWrYKAYfOGxrLquWsFjTzvlOXggDIIL5ujHp21CgLdKeyxgwoL9eisVRCsxRa06larK+QgyY2lPx4qsSOaCxDM1VIWsZ2A8PoULh88EpDmzDZqGz5JKhCsNzL6eOrkByZ3gq2EKKZDAqlDj5TLtAH7H/IlBUm7iJKxXABITWgf5aU8gKyBjcwywZ9ZtMoL3U3Ort6+0Wd78eYnyHdhIjqyfxfoCGydfiYHz27DM5cz21hhnam/HwHau3rWKIIwvGB2L14UVIgfJIEzhX9AG3+BlYWgKawELSwCYqMoqSRYpEqhYJlCq6DB0tJSRAtTKYhCiBJDJOSSM+bM4Ty7idmLe3czszOz78zOA8MVCezHszPvx7zvM+kH2QV8kSkLH8o2oIzxLhttyb80IagGvEP17mEXW9Ep9nuaRRJV9jvc27Q0V5Kx9YP9LhlpmpDE1A45MSEoxfzMxnDRd4UN6t/HLsXrZKdqLtXAhnu49l64NU0DFtkYBSEonL1cFAGbg1e1aBrIAhnFys/XRcUnz0EIiqQqJq+aJQhFFTKNnXkc39y1y7xApLxem1SmrIAv+cDm9zZ7Adds73r9SlUcTPX7GCFEdkbgpUerb9kSMqcsHY60e/PwOekZGhd6aczgaSUENqI++lCo5hwkDCw8MuYRJfsi14TuUeds0UZIt4b7LGCT9NDXicKS4KIfjy5StBAi2hNjqrGaByLNSDoMvvK0XGy8OcmIN60/XicVsMHdhfIRF3mDF5VfXzkhWen6TsgrpKULkKHiUZRB8Ko6/aqUENwcr9rZftl3aki71CahlJC0YnwvA04gVdFjOW3YTQiSf5z58iCsfyAfoW9Xhgq5bp+6KT7ftYomna2NVl+RJqOTwF7WTFftkBgrId+VegvXaM8M2EEe5ffYI1t+SXeGuIBeddb7A0MdKRRPSCCe+NSZOunzRIhloHUXL5eSEDgYGyO3hXclrajntwkieao0REWkPSFdIJNeN2ErSkVI4rrekC6UMDkjnCVE1i6kg7zq4hPtNsJpQkBCY+im9N45MrrVbzMkmiqsJQQ7e9Dl4M2bZeHg0ougsvKU5PNZQQjiBeyz5DnIxHTzo5OEyLqptpFAmpC89Vs2kkCSELiqGyPjUvEC3NT+5RnSO5DWEMJ70Ol/N974EgwsTDpBAglCZIgwXURXCkIQO6zX7gktTa7OhsIJET3GjtKBBk4RIlpWytt86wmRgEjlO2wEpHCLzic5S4jIElVkhrUUhHQ6cDMLlIqtnSSElwwVB+W6Bg3F1vc9GVQIQbDHa8BhvD0Zmgn5dfIKtwEvsydlxIag6o83+g7rb8jK2rTCE0ErOp75t7SCRCs8+m9pVhk3KSNk68h57v81pe5k65L1KfdXFdWU9oSXGPERWw/yz44L/lWqwQSWrGd4p0Fyzp4U/lTP+FeZH2NszKblmXDg4TQb4/7dGMVjNm6xsR3HZxkCZgAkm+DDQszsLBvo7wr9u8uFZpBIML1jAw2WszsrUxv+AtcSnkMYbgosAAAAAElFTkSuQmCC) no-repeat;
  background-size: 50px 50px;
}

.icon3 {
  width: 128px;
  height: 128px;
  background: url(../images/sprite-tom.png) 0px -133px no-repeat;
  background-size: 261px 261px;
}

.icon4 {
  width: 128px;
  height: 128px;
  background: url(../images/sprite-tom.png) -133px -133px no-repeat;
  background-size: 261px 261px;
}

.icon5 {
  width: 200px;
  height: 75px;
  background: url(../images/sprite-jerry.png) 0px 0px no-repeat;
  background-size: 200px 230px;
}

.icon6 {
  width: 75px;
  height: 150px;
  background: url(../images/sprite-jerry.png) 0px -80px no-repeat;
  background-size: 200px 230px;
}

.icon7 {
  width: 100px;
  height: 100px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAAHaX54IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1NEFFNjAyMDYwMzQxMUU1QkMyOEI5RDU3QzU2ODI5QiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1NEFFNjAyMTYwMzQxMUU1QkMyOEI5RDU3QzU2ODI5QiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjU0QUU2MDFFNjAzNDExRTVCQzI4QjlENTdDNTY4MjlCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjU0QUU2MDFGNjAzNDExRTVCQzI4QjlENTdDNTY4MjlCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+XY/08AAACw1JREFUeNpizKnqZACC+0CswEAbsJwFSDwAYnkG2oFIJhpbAAZMDHQAo5YMPktYiFFUm5+AV7554gLKLcFlCCHLqRZchHxBkSUgXxBjAdmWFCSH0T518fJwEe0Lsiwx09egfT5xd7BguP/oKe2Da8n63UO8WCE285GV40nJeKNF/dCxZA2tLQEIIEZo4+4/Le1gorEFYA+Mpq5RS0Z6447m7a4Fq7bSLk7cbE3A9OPnr2lnibmRDm3bXaS2HsmyhNTW4/BqEpHsk+u3H9DekjXbDtDWktHG3aglJAGAAKJH446BXqE15D1Bt2gf9cioR0Y9MvCAhVoGkdtOorThQHWPrNi4m+H2g6dkef7tuw+DJ0ZI8URMoCuDopw0VWKC6h4hJwlSyxN09wjME5+/fGOYMHfV4MzsxHoC1Kchp8sxKIpf5OREC0/QxSO0yhN09YivixVdPEFzjxhoqw39JoqdmR7dYoOmHrG3NBqabS1qt51Gm/GjHhn1CPU9wjgcPAIQQLABOtCMwcoh6P4vQCwMxL9Axe9QHqDjAeKfQBw6XPLI6tFSa9Qjox4Z9cioR0Y9MuqRUY+MeoR2gCqDD8nh3gxSEqJk6ydnbmU0RvCByzfuMsxduZUkPaDVX6DFWSBAaWxQLUZOXbxBsh6YJ6g1/jUgSQs2Qv/sxWuqmck0UJ4AAVKT46DxCBcnO5xN7SFVunqkOC1y6FeIoLqGVrFBV4/AKkxqZnC6ewR5xTA1MzjdPQKrM2gVG3TxSIiXA81jgy4e0VRVGF7N+N5Zy4euR5Br8W/ff452rAaNR3YeODF0PQJaXEZJM3/QeAS2Qm508GHUIzQCpG5UH9DBB2xgdC3KqEdGPTLqkVGPjHpk1COjHqHMI93DwB+MAAHYO2OVhoEwjn+o1EVr24gg6BO5iIiLKM59AH0GfQDdRVffQRfBwcHFpSAi4qRi4xQdzFcbKXpIlSa57/L7QWi5qdwvuS+53v2TraAbT493gTLZS48dPbPWkeEF29LPxTmiLygigBCEAEIQAghBCCAEIYAQQIgBJnz6MZqcMlmrSTd+lZu7h17bKJb8u4iadWnNTPe+N9PPRn1Krju3Q0flVkLIXNT8WhCsMb9Fk50EDFng5xWS53rmDI0w+p7+kyRvsntwjJCicSVHaoZ72XWjckK0gLc3V360F72kDyHi3mqbRyYkQv45RJ2eX8rZxRVF3QcZuu0m7x0rCBlSho/1ohLPIZZlBCfEuoyghIQgIxghLhmaDGORsRBl6Ca0vGaJEfILg/v6B/nrm2URMiJc+QT7hyemr3izQlxDlc7aPj53EVI0i/PuGDhfptArJ2RrbUlCJZjnEKu3ueaFtDeWne1Wb3PNC4laDQkZU7O9mnzoGpqeXmKElIH+lxHK0BR8UUcIIAQhgBCEAEIAIaaExHSDX0Jm6QZvuFchiXy+z3SV/iiNTt/BwocA7J1BSxVRFIAnq7eICqQQQkyNigdBuAikRZALI1dCYijWKhDaBYLtWrXrHwRCqyB0E1GQK7VFJfHAipQUCSpJaqcIRQvnQCMyc1y0eO+ee+b74MJwN+/N/bh37p133jlZRjmhkrZHaRv4dw31R3KY30vbZP6hLlYkCnkYGQ2lmjb5X4TU992fCZGlapyxCc7fTMgkY2GGG5xDbHEfIbZoR4jBgyEgBBCCEEAIQgAhCAGEIAQQAghBCCAEIYAQhABCEAIIAYQgBP4PU4kDJC3417X1nToe39d/1S3x8ZmO1p3rzrYTScvxZhOZ6EwJkRzt0kIUc2HJAoQgBOJ+hrytfax7pTRJ8TQ2Olzol8oJCMkx/epd3T9jLxlWyliUasnS0gPKrLRUU6Q0QuTckU8PKHl+GzErEaIw1N9b6LOY57cUQu7eHlGXKra9AZBCkpXKwSAbCIQo5Kt6Wtrilk6ItlRJbRHLldrcCpFdlbZUWa8t4laItquKIT+8SyFa5R05c8SQhNmlEK3yTiy1RdwJuXPreqFv7cfPaL6/OyFHDh8q9E08eY4QK7NjcflLVPfQ5H12TL2YQQizAyEuZocbIRLPlWdjcyvKe3EhRGK58jx8/BQhIbhy6YLab/kFomshWpTj7OtatPcTtZBjzUfV/rn59wgJwc1rV729aIhbiLbVfTnzBiEhOF89pfbPLywhJAR9PRcTj0QrRPt51mpoj3she+2urIb2uBfSd7k78UqUQjpPthb6Yn135e6knlH7sIQQTucISXqU0FCeIQHRQnwQYgwvD3Q3Qj59XkVICHanw9hNlooDIQ2merpd7Y8hZtelkK5zZxPvHIjpy8bwd4JSCfG0NLneZSEEEIIQQAggBCGAEIQAQhACCEEIIAQhDAFCACEIAYS44A9CbPFMhHxjHMwwIkLaGAcTPEjb72zJ2pe2FcYkGINpG5eLbQHauZ+QKKI4gONPqJWkIjOjMkMjw4o0MCQNRCmTksUEMQkPgh0VugXRqU52i8pbIElRqUsSpVYHM6IUMbIoS0hr0RKzP2qGu0TNz9YwW/MJSebv+4F3qXfI537bmXkzE1JytGzyX+Y646QzNrBOUET+QzriDM9UR71SyrfABOKANvKZrwk0UDYxEJczvONfKQDGWpCTQZcEIm9EX8uaAL+QZ/UuSiBu1gIIyi2BhLIOQFAudkKAPyAQgEAAAgEIBCAQgEAAAgEIBCAQgEAAEAhAIACBAAQCEAhAIACBAAQCEAhAIAAIBCAQ4O9awBIEV3wg26xZFan2579Ue8t0dvfwDUIKAIEABAJwDvKPDbz/aEZ9/t/+/NPQZzM4NDxn/90rV4Sb2HVR1j9jT987ftkEMrVzl6/Pm5+lMDfTKg4Jo6K6zox8GeUDQCDzX/TqSHNw/x7jci2cdi5XrQhEFffuVLNty0arb43yyqssGIHoELYo1JQW5Vl9a9y532aaWtpZNALRITkx3mSl77CaW37eYwY+DLJoBKKD7c4/h1QEokpE+FJzqMBtdUjV3PbE3LzbyqIRiA4J8etNTlaa1VyuUhGIKnn70s2muJhp5/l8fnO6opq9DQLR43BxvlmyOIzzDQLBRDO5hPuss9tU32hk0QhEB9kVL8rPtprLyTiBqBIXE2UKcjKt5tY2NJn2jpcsGoHoMJPNP65UEQhxTIGd8dnBA1PEAQIhDhCIynMO4iAQNeRqlW0ccrWKE3ICUUP2OWwv5cpzHFzKJRA15I5c201A2SHnIScCUUVuV7cxNDzC7SMEoos86GRzb5Wo9NSzYASih7xYwfb9vw2ND7hiRSB6yMNONm8dEV2ve0zLow4WjUD02JuRYj3XU9/EghGIHvI0oO15hxxa8TQggaghm4E2j8oKeSKQQysCUSV7107ruddu32PBCEQPuc/K5lny8RNz75t+Fo1A9MhITbKeW9fYzIIRiB5pyQnWJ+by7cGeB4GokpK01Xpu88OnLBiB6Dr3sP326H3bz23sBKLL9oR467mdXV4WjED0kH2PiOXLrOdzKzuBqJK4Oc56rhxegUBUsd015/CKQNSRS7sz0fr4OYtGIIrOP2KjZ3R4xU2JBKKGPGdu+zCU8Pb2sWhzEK8enSWyE37iVAULwTcIQCAAgQAgEIBAAAIBCAQgEIBAAAIBCAQgEIBAWAKAQAACAQgEIBCAQAACAf73QF6wDEBQrySQ46wDENQxeavJBWf4nHGF9QB+yndG1fg5SJX58QqgM6wLlDsbaKFq8kn6V2eUOiPEGaHOKHRGjTO6neFn3TDP+AOf7ZrAZz008NkvCbQw5jv0E++vsXvx0wAAAABJRU5ErkJggg==) no-repeat;
  background-size: 100px 100px;
}

.unexist {
  width: 100px;
  height: 100px;
  background: url(../images/undefined.png?__jerry) no-repeat;
  background-size: 100px 100px;
}

.unexist-inline {
  width: 100px;
  height: 100px;
  background: url(../images/undefined.png?__inline) no-repeat;
  background-size: 100px 100px;
}

.oversize {
  width: 100px;
  height: 100px;
  background: url(../images/0.png?__inline) no-repeat;
  background-size: 100px 100px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon0 {
    background: #ccc url(../images/sprite-tom@2x.png) 0px 0px no-repeat;
    background-size: 261px 261px;
  }

  .icon1 {
    background: url(../images/sprite-tom@2x.png) -133px 0px no-repeat;
    background-size: 261px 261px;
  }

  .icon1 {
    background: url(../images/sprite-tom@2x.png) -133px 0px no-repeat;
    background-size: 261px 261px;
  }

  .icon3 {
    background: url(../images/sprite-tom@2x.png) 0px -133px no-repeat;
    background-size: 261px 261px;
  }

  .icon4 {
    background: url(../images/sprite-tom@2x.png) -133px -133px no-repeat;
    background-size: 261px 261px;
  }

  .icon5 {
    background: url(../images/sprite-jerry@2x.png) 0px 0px no-repeat;
    background-size: 200px 230px;
  }

  .icon6 {
    background: url(../images/sprite-jerry@2x.png) 0px -80px no-repeat;
    background-size: 200px 230px;
  }
}