h1 {
  background: rgba(0,0,0,0) url(sprite.png) 0px 0px;
  background-size: 261px 177px;
}

h2 {
  color: #fff;
  background: #66ccff url(sprite.png) 0px 133px;
  background-size: 261px 177px;
}

h3::after {
  color: #fff;
  background: rgb(0,0,0) url(sprite.png) 133px 0px;
  background-size: 261px 177px;
}

h3 {
  color: #fff;
  background: rgb(0,0,0) url(add.png) 133px 0px;
  background-size: 150px 128px;
}

h3::after {
  color: #fff;
  background: rgb(0,0,0) url(add.png) 0px 0px;
  background-size: 150px 128px;
}

h4 {
  color: #fff;
  font-size: 12px;
}