h1 {
  background: rgba(0,0,0,0) url(./1.png?__sprite);
}
h2 {
  color: #fff;
  background: url('./4.png?__sprite') #66ccff;
}
h3::after {
  color: #fff;
  background: url(./3.png?__sprite) rgb(0,0,0) no-repeat;
}
h3 {
  color: #fff;
  background: url(./6.png?__add) rgb(0,0,0) no-repeat;
}
h3::after {
  color: #fff;
  background: url(./2.png?__add) rgb(0,0,0) no-repeat;
}
h4 {
  color: #fff;
  font-size: 12px;
}