div {
  margin: 10px;
  border: 1px solid #ccc;
}
.icon0 {
  width: 128px;
  height: 128px;
  background: url(../images/0.png?__tom) no-repeat;
  background-size: 128px 128px;
}
.icon1 {
  width: 128px;
  height: 128px;
  color: #ccc;
  background: url(../images/1.png?__tom) no-repeat;
  background-size: 128px 128px;
}
.icon2 {
  width: 50px;
  height: 50px;
  color: #ccc;
  background: url(../images/2.png?__tom) no-repeat;
  background-size: 50px 50px;
}
.icon3 {
  width: 128px;
  height: 128px;
  background: url(../images/3.png?__tom) no-repeat;
  background-size: 128px 128px;
}
.icon4 {
  width: 128px;
  height: 128px;
  background: url(../images/4.png?__tom) no-repeat;
  background-size: 128px 128px;
}
.icon5 {
  width: 200px;
  height: 75px;
  background: url(../images/5.png?__jerry) no-repeat;
  background-size: 200px 75px;
}
.icon6 {
  width: 75px;
  height: 150px;
  background: url(../images/6.png?__jerry) no-repeat;
  background-size: 75px 150px;
}
.icon7 {
  width: 100px;
  height: 100px;
  background: url(../images/7.png?__jerry) no-repeat;
  background-size: 100px 100px;
}