div {
  margin: 10px;
  border: 1px solid #ccc;
}

.icon1 {
  width: 128px;
  height: 128px;
  color: #ccc;
  background: url(../images/sprite-sprite.png) 0px 0px;
  background-size: 522px 353px;
}

.icon2 {
  width: 128px;
  height: 128px;
  color: #ccc;
  background: url(../images/sprite-add.png) 0px 0px;
  background-size: 514px 256px;
}

.icon3 {
  width: 128px;
  height: 128px;
  background: url(../images/sprite-sprite.png) -266px 0px;
  background-size: 522px 353px;
}

.icon4 {
  width: 124px;
  height: 44px;
  background: url(../images/sprite-sprite.png) 0px -266px;
  background-size: 522px 353px;
}

.icon5 {
  width: 124px;
  height: 44px;
  background: url(../images/sprite-add.png) -266px 0px;
  background-size: 514px 256px;
}

.icon6 {
  width: 17px;
  height: 12px;
  background: url(../images/sprite-sprite.png) -258px -266px;
  background-size: 522px 353px;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */

body {
  padding-top: 53px;
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px;
}

/* Don't let the lead text change font-size. */

.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */

.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */

.container {
  width: 970px !important;
  max-width: none !important;
}

/* Demonstrate the grids */

.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  background: #fff;
  border-top: 2px solid #f60;
  box-shadow: 0 0 4px 0 #ccc;
}

/* Always float the navbar header */

.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */

.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */

.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */

.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 60px;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */

.navbar-form .form-group {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  padding-right: 34px;
  display: inline-block;
  width: 250px;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.active a {
  color: #f60 !important;
  background: transparent !important;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* custom css */

.main-wrap {
  padding: 15px 30px 15px 15px;
  background-color: rgba(163, 204, 208, 0.6);
}

.function-list,
.contact-list {
  margin-right: 10px;
  margin-bottom: 0;
}

.function-list li,
.contact-list li {
  padding: 0 0;
  background: transparent;
  border: 0;
}

.function-list li a,
.contact-list li a {
  padding: 10px 15px;
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.function-list li a:hover,
.contact-list li a:hover {
  background: #98BAC5;
}

.function-list-cog {
  margin-right: 10px;
  float: right;
  font-size: 18px;
  color: #fff;
}

.input-panel-wrap {
  position: relative;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}

.input-panel-wrap p {
  text-align: right;
  font-size: 12px;
  color: #f60;
}

.input-panel-wrap textarea {
  width: 100%;
  height: 100px;
  border: 0;
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,.4);
  border-radius: 3px;
  outline: 0;
}

.input-panel-wrap ul {
  margin: 0;
  width: 100%;
  padding: 0 0;
}

.input-panel-wrap ul li {
  display: inline-block;
  width: 60px;
  line-height: 34px;
  color: #666;
  list-style: none;
}

.input-panel-wrap ul li:nth-child(1) i {
  color: #FF954F;
}

.input-panel-wrap ul li:nth-child(2) i {
  color: #5FAD7E;
}

.input-panel-wrap ul li:nth-child(3) i {
  color: #59629D;
}

.input-panel-wrap ul li:nth-child(4) i {
  color: #7E86DD;
}

.input-panel-wrap .publish-btn {
  margin: 0 0;
  padding: 0 0;
  float: right;
  width: 90px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  outline: 0;
  border: 0;
  background: #FEC0A2;
  border-radius: 3px;
}

.msg-item {
  position: relative;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}

.msg-main {
  position: relative;
  padding: 10px 10px 10px 60px;
}

.msg-main-avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.msg-main-avatar img {
  width: 100%;
}

.msg-main-name {
  font-weight: bold;
}

.msg-main-more {
  position: absolute;
  right: 18px;
  top: 6px;
  color: #777;
  font-size: 12px;
}

.msg-function {
  margin: 0 0;
  padding: 0 0;
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
}

.msg-function::after {
  clear: both;
}

.msg-function li {
  position: relative;
  float: left;
  width: 24.9%;
  color: #555;
  line-height: 36px;
  text-align: center;
  list-style: none;
}

.msg-function li::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: 16px;
  background: #ececec;
}

.msg-function li:last-child::after {
  content: "";
  width: 0;
}

.own-panel-wrap,
.hot-panel-wrap {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}