div {
  margin: 10px;
  border: 1px solid #ccc;
}

.icon7 {
  width: 64px;
  height: 42px;
  color: #ccc;
  background: url(../images/sprite-sprite.png) 0px 0px;
  background-size: 64px 42px;
}

.icon {
  display: inline-block;
  zoom: 1;
}

@media only screen and (min-device-width : 768px) and (max-device-width:1024px) and (orientation : landscape)and (-webkit-min-device-pixel-ratio: 2) {
  .icon7 {
    background: url(../images/sprite-sprite.png) 0px 0px;
  }
}