div {
  margin: 10px;
  border: 1px solid #ccc;
}
.icon7 {
  width: 64px;
  height: 42px;
  color: #ccc;
  background: url(../images/7.png?__sprite) 0px 0px;
  background-size: 64px 42px;
}
.icon {
  display: inline-block;
  zoom: 1;
}
