div {
  margin: 10px;
  border: 1px solid #ccc;
}

.icon0 {
  width: 256px;
  height: 256px;
  background: url(./sprite-tom.png) 0px 0px no-repeat;
  background-size: 632px 522px;
}

.icon1 {
  width: 256px;
  height: 256px;
  color: #ccc;
  background: url(./sprite-tom.png) -266px 0px no-repeat;
  background-size: 632px 522px;
}

.icon2 {
  width: 100px;
  height: 100px;
  color: #ccc;
  background: url(./sprite-tom.png) -532px 0px no-repeat;
  background-size: 632px 522px;
}

.icon7 {
  width: 200px;
  height: 200px;
  background: url(./sprite-jerry.png) -160px -160px no-repeat;
  background-size: 400px 460px;
}